@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

:root {
 --accent-1: #00CAFF;
 --accent-2: #261FB3;
 --accent-3: #4bdbff;
 --accent-4: #25228d;
}

body::-webkit-scrollbar {
 display: none;
}

.todo-image-section {
 width: 100%;
 background: gray;
 font-family: "Poppins", serif;
}

.todo-image-child {
 width: inherit;
 height: 350px;
 position: relative;
 background: black;
}

.img-top {
 width: inherit;
 height: inherit;
 object-fit: cover;
 mask-image: linear-gradient(to top, rgba(254, 254, 254, 0), black 50%);
 z-index: -1;
}

.fa-arrow-left {
  position: absolute;
  margin: 20px;
  top: 0;
  background-color: var(--accent-1);
  color: var(--accent-2);
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.text-box {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
}

.text-box h2 {
 background: linear-gradient(to bottom, var(--accent-3), var(--accent-1));
 border-radius: 15px 15px 0 0;
 padding: 25px;
 font-size: 34px;
 text-align: center;
 color: var(--accent-2);
 
}

.todo-activity-section {
 display: flex;
 justify-content: center;
 min-height: 100vh;
 font-family: "Poppins", serif;
 background: linear-gradient(to top, var(--accent-2), var(--accent-1));
 position: relative;
 z-index: 0;
}

.custom-shape-divider-bottom-1750388292 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
 transform: rotate(180deg);
 z-index: -1;
}

.custom-shape-divider-bottom-1750388292 svg {
 position: relative;
 display: block;
 width: calc(100% + 1.3px);
 height: 234px;
}

.custom-shape-divider-bottom-1750388292 .shape-fill {
 fill: var(--accent-3);
}

.todo-activity-child {
 margin: 60px 40px;
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
}

.todo-display-section {
 width: inherit;
 margin: 60px 0;
 display: grid;
 row-gap: 20px;
}

.todo-display-section.hide {
 display: none;
}

.title-bonds {
 color: var(--accent-4);
}

.display-bond {
 display: grid;
 grid-template-columns: 1fr 0.75fr 0.75fr 0.15fr;
 justify-content: space-around;
 align-items: center;
 font-size: 24px;
 background: rgb(234, 234, 234);
 border-radius: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 outline: 2px solid;
 padding: 15px;
}

.display-bond p,
.display-bond button {
 margin: 0 20px;
}

.display-bond p {
 overflow: hidden;
}

.display-bond p:nth-child(1) {
 font-weight: bold;
}

.display-bond button {
 padding: 10px 20px;
 font-size: 20px;
 cursor: pointer;
 border-radius: 10px;
 border: none;
 color: var(--accent-2);
 background: var(--accent-1);
 font-weight: bold;
}

.bond-list-section {
 width: 80%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 0.5fr;
 column-gap: 10px;
}

.bond-list-section input {
 padding: 10px;
 border-radius: 10px;
 border: none;
 outline: none;
 font-size: 18px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bond-list-section button {
 padding: 10px;
 font-weight: bold;
 font-size: 16px;
 border-radius: 10px;
 border: none;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 cursor: pointer;
}

.todo-warning-display.active{
 width: inherit;
 margin: 25px 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 row-gap: 10px;
}

.todo-warning-display img {
 width: 300px;
 border-radius: 10px;
}

.todo-warning-display p {
 color: var(--accent-3);
 font-size: 20px;
 text-align: center;
}

.todo-warning-display .empty {
 font-weight: 600;
}

.input-todo-guide {
 width: 80%;
 margin-top: 20px;
 border-top: 3px solid;
 padding: 10px 30px;
}

.input-todo-guide h2 {
  text-align: center;
  color: var(--accent-1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 930px) {
 .bond-list-section {
  grid-template-columns: 1fr;
  row-gap: 10px;
 }
}

@media (max-width: 630px) {
 .text-box h2 {
  font-size: 24px;
 }
}

@media (max-width: 455px) {
 .text-box h2 {
  font-size: 18px;
 }
}